[submodule "themes/next"]
	path = themes/next
	url = https://github.com/lanpangzhi/hexo-theme-next.git
[submodule "themes/indigo"]
	path = themes/indigo
	url = https://github.com/lanpangzhi/hexo-theme-indigo.git
